/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: #007A33;
	
}
p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Georgia', serif;
}
h3 {
	font-size: 30px;
}


/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}
/* NEW: Celtics-green glowing hover effect for interactive elements */
.glow-hover {
  transition: all 0.25s ease-in-out;
}

.glow-hover:hover {
  box-shadow: 0 0 12px #007A33, 0 0 24px #007A33;
  transform: translateY(-2px);
}